<html>
    <head>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/async/1.5.0/async.min.js"></script>
        <script src="../js/zenTest.js" type="text/javascript" charset="utf-8"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/zenTest.css">
    </head>
    <script id="template" type="x-tmpl-mustache">
        <div class="avatar" style="background-image:url({{avatar}})" />
        <div class="stats-container">
            <h2 class="name {{status}}">{{name}}</h2>
            <div class="stat-row">
                <i class="fa fa-times-circle-o"></i>
                <div class="stat">K/D Ratio:</div>
                <div class="stat-value">{{kdr}}</div>
            </div>
            <div class="stat-row">
                <i class="fa fa-trophy"></i>
                <div class="stat">Win Rate:</div>
                <div class="stat-value">{{winRate}}%</div>
            </div>
            <div class="stat-row">
                <i class="fa fa-crosshairs"></i>
                <div class="stat">Accuracy:</div>
                <div class="stat-value">{{accuracy}}%</div>
            </div>
            <div class="stat-row headshot">
                <i class="fa fa-user">
                    <i class="fa fa-crosshairs"></i>
                </i>
                <div class="stat">Headshot%:</div>
                <div class="stat-value">{{headshot}}%</div>
            </div>
            <div class="stat-row">
                <i class="fa fa-star-o"></i>
                <div class="stat">MVP:</div>
                <div class="stat-value">{{mvp}}</div>
            </div>
            <div class="stat-row">
                <i class="fa fa-clock-o"></i>
                <div class="stat">Time Played:</div>
                <div class="stat-value">{{time}}</div>
            </div>
        </div>

    </script>
    <body>
        <input type="text" class="profile-id" placeholder="steam profile ID">
        <button class="search">Go</button>
        <div class="widget"></div>
    </body>
</html>
